<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="buscar" class="col-sm-2 control-label">Buscar</label>
            <div class="col-sm-10">
                <input type="search" id="buscar" class="form-control">
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="magin-5">
    <div class="col-md-4"></div>
    <div class="col-md-4 rolagem">
    <table class="table table-striped minhaGrid">
        <thead>
            <tr>
                <th>NOME</th><th>AÇÕES</th>
            </tr>
        </thead>
    </table>
    </div>
    <div class="col-md-4"></div>
</div>