<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form class="form-horizontal magin-5" id="formCadastro">
            <div class="form-group">
                <label for="inputGenero3" class="col-sm-3 control-label">Genero</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="inputGenero3" placeholder="Genero">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button id="" type="button" class="btn btn-default enviar">Enviar</button>
                </div>
            </div>
            <input type="hidden" id="inputId3" value="null">
            <input type="hidden" id="inputFuncao3" value="insert">
        </form>
    </div>
    <div class="col-md-3"></div>
</div>