<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca</title>
    <link rel="stylesheet" href="../../recursos/css/estilo.css"/>
    <link rel="stylesheet" href="../../recursos/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid top-15">
        <div class="">
            <div class="row">
                <div class="col-md-11">
                    <div class="col-md-3"></div>
                    <div class="col-md-7" dir="rtl">
                        <button class="grid btn btn-warning">Grid</button>
                        <button class="form btn btn-warning">Form</button>
                        <span class="label mensagem" style="display: none;"></span>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div id="conteudo"></div>
            </div>
        </div>
    </div>
    <script src="../../recursos/js/jquery-3.2.1.min.js.txt"></script>
    <script src="../../recursos/js/bootstrap.js.txt"></script>
    <script src="../../recursos/js/categorias/categorias.js.txt"></script>
    <script src="../../recursos/js/geral/geral.js.txt"></script>
</body>
</html>